{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Status{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
    <div class="card mx-auto transparent-bg-gray rounded" style="width: 100%;">
        <div class="card-body">
            <h1>Halo, apa kabar?<br></h1>
            <form id="form_status" action="{% url 'lab6:lab6_index' %}" method="POST">
                {% csrf_token %}    
                <div class="form-group">
                    {{ form_status }} 
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br><br><br>
            <h1>Here the list of current status :<br></h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for status in list_status %}
                    <tr>
                        <th scope="row">{{ status.status }}</th>
                        <td>{{ status.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
