{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
    <div class="card mx-auto transparent-bg-gray rounded" style="width: 100%;">
        <div id="accordion" class="container pl-2 pr-2 pt-2 pb-2">
            <h3 class="rounded">Aktifitas</h3>
            <div>
                <ul>
                    <li>Mahasiswa Sistem Informasi Universitas Indonesia</li>
                </ul>
            </div>
            <h3 class="rounded">Organisasi</h3>
            <div>
                <ul>
                    <li>Staff Divisi Kreatif Betis 2019</li>
                </ul>
            </div>
            <h3 class="rounded">Prestasi</h3>
            <div>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}