{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container pb-5 pt-5 mx-auto">
    <div class="container transparent-bg-gray pb-3 pt-3 rounded mx-auto">
        
    </div>
</div>
{% endblock %}