{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Search Book{% endblock %}

{% block content %}
<div class="container pb-5 pt-5 mx-auto">
    <div class="container transparent-bg-gray pb-3 pt-3 rounded mx-auto">
        <div class="big-text pb-1">Book Name :</div>
        <div class="input-group mx-auto" id="search_book">                 
            <input type="text" id="book_name_input" class="rounded form-control" placeholder="Book's Name">
            <div class="pl-3 input-group-append">
                <button onclick="readInput()" class="rounded btn btn-info">Search</button>
            </div> 
        </div>
        <br>
        <div class="big-text pb-1">List of books :<br></div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                    </tr>
                </thead>
                <tbody id="list_book"></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}