{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Add Schedule{% endblock %}

{% block content %}
<div class="container pb-5 pt-5 mx-auto">
    <div class="container transparent-bg-gray pb-3 pt-3 rounded mx-auto">
        <div class="big-text pb-1">Add Schedule</div>
        <form id="form_1" action="{% url 'lab2:add_schedule' %}" method="POST">
            {% csrf_token %}    
            <div class="form-group">
                {{ form_schedule }} 
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>	
    </div>
</div>
{% endblock %}