{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}{{schedule_name}} deleted{% endblock %}

{% block content %}    	
<div class="container pb-5 pt-5 mx-auto">
    <div class="container transparent-bg-gray rounded pb-3 pt-3 mx-auto">
        <div class="big-text pb-1 pt-1">Schedule Succesfully Deleted</div><br><br>
        <div class="mid-text pb-1 pt-1">You have delete Schedule {{schedule_name}}</div><br><br><br>
        <a href="{% url 'lab2:lab2_index' %}">Back to main menu</a>
    </div>
</div>
{% endblock %}