{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Homescreen{% endblock %}

{% block content %}
<style>
    body {
        background-image: url( "{% static 'lab2/images/RinjaniSunriseRandy.jpeg' %}" );
        background-size: cover; 
        height: 100%;
    }
</style>

<div class="container pt-5 pb-5">
    <div class="card mx-auto transparent-bg-gray" style="width: 100%;">
        <div class="card-body">
            <p class="card-text big-text">Welcome to my site, dear user<br>
            <br>
            I am Randy<br>
            <br>
            Nothing but just a humble newbee front-end/back-end developer<br>
            Please continue to explore it<br>
            <br>
            <a class="btn btn-primary" href="{% url 'lab2:about_me' %}">Go Now</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}