{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Schedule{% endblock %}

{% block content %}
<div class="container pb-5 pt-5 mx-auto">
    <div class="container transparent-bg-gray rounded pb-3 pt-3 mx-auto">
        <div class="big-text pb-1">List of my current Schedule :</div><br>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Schedule Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Place</th>
                            <th scope="col">Category</th>
                            <th scope="col">Delete Schedule</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for schedule in list_schedule %}
                        <tr>
                            <th scope="row">{{ schedule.name }}</th>
                            <td>{{ schedule.date }}</td>
                            <td>{{ schedule.time }}</td>
                            <td>{{ schedule.place }}</td>
                            <td>{{ schedule.category }}</td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'lab2:delete_schedule' schedule_name=schedule.name %}" method="POST">
                                    Delete {{ schedule.name }}
                                </a>	
                            </td>   
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="big-text pb-1">Here a link to add schedule <a href="{% url 'lab2:add_schedule' %}">Add Schedule</a></div>
    </div>
</div>

{% endblock %}