{% extends 'lab2/base.html' %}
{% load static %}

{% block title %}Thank You {{name}}{% endblock %}

{% block content %}
<style>
    body {
        background-image: url( "{% static 'lab2/images/RinjaniSunsetRandy.jpeg' %}" );
        background-size: cover; 
        height: 100%;
    }
</style>

<div class="container container-fullscreen">
    <div class="container pt-5 pb-5">
        <div class="card mx-auto transparet-bg-gray" style="width: 100%;">
            <div class="card-body">
                <p class="big-text">
                    Thank You for contacting us {{name}}, you can go back to home here <a href="{% url 'lab2:lab2_index' %}" class="blue-text">here</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}